In [1]:
import os
import cv2
import pandas as pd
import numpy as np
import shutil
from tqdm import tqdm

In [2]:
df = pd.read_csv("../dataset/DSB/share_train_df.csv")

In [3]:
df.head()

,img_id,HSV_CLUSTER,mosaic_idx,mosaic_position
0,55ff2b0ec48b76e10c7ee18add5794005cd551697f96af...,1,76,NaN
1,ae570a676961482848b5097038ef5e407df7a66a8e1c9b...,2,0,down_left
2,40bcdad218ac5f0885fc247d88fcad9f729f55c81c79d2...,1,77,NaN
3,337b6eed0726f07531cd467cd62b6676c31a8c9e716bdb...,2,1,down_right
4,da5f98f2b8a64eee735a398de48ed42cd31bf17a6063db...,1,78,NaN

In [4]:
df.groupby("HSV_CLUSTER").size()

HSV_CLUSTER
0     16
1    541
2    107
dtype: int64

In [5]:
for i, row in tqdm(df.iterrows()):
    path = "../dataset/DSB/train_all/" + row["img_id"]
    if os.path.exists(path):
        if row["HSV_CLUSTER"] == 1:
            shutil.copytree(path, "../dataset/DSB/train_gray/" + row["img_id"])
        elif row["HSV_CLUSTER"] == 0 or row["HSV_CLUSTER"] == 2:
            shutil.copytree(path, "../dataset/DSB/train_color/" + row["img_id"])

664it [00:54, 12.19it/s]